.header .container {
    @media (max-width: 768px) {
        flex-direction: column;
    }
}

.navbar-ritght-side {
    display: flex;
    align-items: center;
    gap: 20px;
}

.level_selection {
    display: flex;
    align-items: center;
    gap: 5px;
    & .badge {
        width: 85px;
        height: 30px;
        font-size: 16px;
    }
}

.level_current {
    margin-right: 10px;
    font-family: 'JetBrains Mono', 'Courier New', monospace;
    color: #ffc107;
}
