.editor {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 5vh;
    flex-wrap: wrap;
    padding: 30px 10px 10px;
    width: 100%;
    background: rgb(43, 48, 53);
    font-family: 'JetBrains Mono', 'Courier New', monospace;

    &__rows {
        display: flex;
        flex-direction: column;
        text-align: right;
        padding: 4px 8px;
        background: rgb(110, 110, 110);
    }

    @media (max-width: 768px) {
        flex-direction: column-reverse;
        align-items: center;
    }
}
