.css-editor {
    display: flex;
    background: #454545;
    width: 50%;
    & .editor__rows {
        border-right: 1px solid rgb(56, 56, 56);
        background: #454545;
    }
    &__button {
        max-height: 32px;
        min-width: 15%;
        background: #afafaf;
        border-radius: 2px;
        padding: 2px 7px 2px 7px;
        color: #414141;
        border: solid 3px #7a7a7a;
        border-width: 1px 1px 6px 1px;
        font-size: 9px;
        cursor: pointer;
        &:active {
            border: none;
        }
    }
    & .input_container {
        flex-grow: 1;
        max-width: 80%;
        min-width: 1px;
        & .css-editor__input {
            position: relative;
            max-height: 32px;
            width: 100%;
            max-width: 100%;
            padding: 5px;
            font-size: 14px;
            background: #999999;
            border: none;
            color: #fafafa;
            &:focus {
                outline: none;
                animation: none;
            }
            &.incorrect {
                background-color: rgba(255, 0, 0, 0.59);
            }
        }
        & .css-editor__output {
            padding-top: 10px;
            white-space: pre-wrap;
            word-wrap: break-word;
            max-width: 100%;
            height: auto;
            font-family: 'JetBrains Mono', 'Courier New', monospace;
        }
    }
    @media (max-width: 768px) {
        width: 100%;
    }
}
